@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: auto;
}

.header_main {
  background-color: yellow;
  position: static;
}

header {
  position: absolute;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  max-width: 553px;
  position: relative;
  z-index: 3;
}
header .container .logo img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 767px) {
  header .container .nav-but-wrap {
    display: inline-block;
  }
}
header .container .nav ul {
  display: flex;
}
@media screen and (max-width: 975px) {
  header .container .nav ul {
    display: block;
  }
}
header .container .nav ul li {
  list-style: none;
  margin-right: 49px;
}
@media screen and (max-width: 1130px) {
  header .container .nav ul li {
    margin-right: 23px;
  }
}
@media screen and (max-width: 975px) {
  header .container .nav ul li {
    margin-top: 15px;
  }
}
header .container .nav ul li:last-of-type {
  margin-right: 0;
}
header .container .nav ul li .header_link:hover {
  color: #979797;
}
header .container .nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1060px) {
  header .container .nav ul li a {
    font-size: 17px;
  }
}
@media screen and (max-width: 975px) {
  header .container .nav ul li a {
    font-size: 21px;
  }
}
header .container .nav ul li a:hover {
  color: yellow;
}
header .container .nav .burger_links {
  display: none;
  margin-bottom: 102px;
}
header .container .nav .burger_links a {
  margin-right: 25px;
  text-decoration: none;
}
header .container .nav .burger_links a:last-of-type {
  margin-right: 0;
}
header .container .nav .burger_links a img:hover {
  transform: scale(1.2);
}

.main_banner {
  background-image: url("../images/main_banner.png");
  background-size: cover;
  height: 100vh;
}
.main_banner .container .main_box {
  padding-top: 250px;
}
@media screen and (max-width: 1150px) {
  .main_banner .container .main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }
}
@media screen and (max-width: 850px) {
  .main_banner .container .main_box {
    padding-top: 200px;
  }
}
@media screen and (max-width: 750px) {
  .main_banner .container .main_box {
    padding-top: 200px;
  }
}
@media screen and (max-width: 450px) {
  .main_banner .container .main_box {
    padding-top: 150px;
  }
}
.main_banner .container .main_box h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  max-width: 540px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1150px) {
  .main_banner .container .main_box h2 {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 975px) {
  .main_banner .container .main_box h2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 499px) {
  .main_banner .container .main_box h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 350px) {
  .main_banner .container .main_box h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.main_banner .container .main_box a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  background: #FCE000;
  border-radius: 10px;
  padding: 10px 48px;
  max-width: 299px;
  margin-bottom: 21px;
}
@media screen and (max-width: 1150px) {
  .main_banner .container .main_box a {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 975px) {
  .main_banner .container .main_box a {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 499px) {
  .main_banner .container .main_box a {
    padding: 8px 40px;
    margin-bottom: 10px;
  }
}
.main_banner .container .main_box a:hover {
  background-color: royalblue;
  color: yellow;
}
.main_banner .container .main_box h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #FFFFFF;
}
@media screen and (max-width: 1150px) {
  .main_banner .container .main_box {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .main_banner .container .main_box {
    font-size: 18px;
  }
}

.power {
  padding: 60px 0;
}
.power .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .power .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.power .container .power_box {
  max-width: 591px;
}
.power .container .power_box h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 76px;
  text-align: center;
  color: #000000;
  max-width: 591px;
  margin-bottom: 15px;
}
@media screen and (max-width: 610px) {
  .power .container .power_box h1 {
    font-size: 90px;
  }
}
@media screen and (max-width: 482px) {
  .power .container .power_box h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 423px) {
  .power .container .power_box h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 350px) {
  .power .container .power_box h1 {
    font-size: 60px;
  }
}
.power .container .power_box h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.21em;
  color: #000000;
}
.power .container .power_second_box p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 20px;
  max-width: 479px;
}
@media screen and (max-width: 500px) {
  .power .container .power_second_box p {
    margin-left: 10px;
  }
}
.power .container .power_second_box a {
  text-decoration: none;
  background: #FCE000;
  border-radius: 10px;
  padding: 10px 48px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #000000;
}
@media screen and (max-width: 500px) {
  .power .container .power_second_box a {
    margin-left: 10px;
  }
}
.power .container .power_second_box a:hover {
  background-color: royalblue;
  color: yellow;
}

.description {
  background-color: #FCE000;
  padding: 46px 0 31px;
}
@media screen and (max-width: 1190px) {
  .description {
    padding: 46px 10px 31px;
  }
}
.description .description_info p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #000000;
}
.description .description_info p:first-of-type {
  margin-bottom: 54px;
}

.invincibility {
  margin-top: 60px;
}
.invincibility .container {
  box-shadow: 0 258px 103px rgba(0, 0, 0, 0.01), 0 145px 87px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.09), 0 16px 35px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  padding: 60px 0 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .invincibility .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.invincibility .container h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.21em;
  color: #000000;
  max-width: 580px;
  margin-bottom: 20px;
}
@media screen and (max-width: 485px) {
  .invincibility .container h3 {
    font-size: 38px;
  }
}
@media screen and (max-width: 390px) {
  .invincibility .container h3 {
    font-size: 30px;
  }
}
.invincibility .container h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  max-width: 980px;
  margin-bottom: 40px;
}
.invincibility .container .invincibility_image {
  max-width: 780px;
  margin-bottom: 60px;
}
.invincibility .container .invincibility_image img {
  display: block;
  width: 100%;
}
.invincibility .container p {
  max-width: 980px;
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}
.invincibility .container .invincibility_link a {
  text-decoration: none;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background: #FCE000;
  border-radius: 10px;
  padding: 10px 53px;
  display: inline-block;
}
.invincibility .container .invincibility_link a:hover {
  background-color: royalblue;
  color: yellow;
}

.find_us {
  margin-top: 60px;
}
.find_us .container {
  background: #FFFFFF;
  box-shadow: 0 132px 53px rgba(0, 0, 0, 0.01), 0 74px 45px rgba(0, 0, 0, 0.05), 0 33px 33px rgba(0, 0, 0, 0.09), 0 8px 18px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px 0;
}
@media screen and (max-width: 1200px) {
  .find_us .container {
    margin: 0 10px;
  }
}
.find_us .container .find_us_form {
  margin-bottom: 44px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 857px) {
  .find_us .container .find_us_form {
    flex-direction: column;
    align-items: center;
  }
}
.find_us .container .find_us_form ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #979797;
}
.find_us .container .find_us_form input {
  width: 479px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #000000;
  padding: 10px 0;
}
@media screen and (max-width: 857px) {
  .find_us .container .find_us_form input {
    margin-bottom: 20px;
    width: 380px;
  }
}
@media screen and (max-width: 420px) {
  .find_us .container .find_us_form input {
    width: 290px;
  }
}
.find_us .container .find_us_form button {
  padding: 11px 41px;
  background: #FCE000;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #000000;
  cursor: pointer;
  max-width: 380px;
}
@media screen and (max-width: 420px) {
  .find_us .container .find_us_form button {
    max-width: 290px;
    padding: 11px 21px;
    font-size: 18px;
    line-height: 25px;
  }
}
.find_us .container .find_us_form button:hover {
  background-color: royalblue;
  color: yellow;
}
.find_us .container .find_us_links {
  display: flex;
  justify-content: center;
}
.find_us .container .find_us_links a {
  margin-right: 80px;
}
@media screen and (max-width: 420px) {
  .find_us .container .find_us_links a {
    margin-right: 40px;
  }
}
.find_us .container .find_us_links a:last-of-type {
  margin-right: 0;
}

.graceful {
  margin-top: 60px;
  padding: 59px 0;
  background-color: #FCE000;
}
@media screen and (max-width: 1190px) {
  .graceful {
    padding: 59px 10px;
  }
}
.graceful p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.last_news {
  padding: 65px 0;
}
.last_news .container h3 {
  margin-bottom: 33px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  text-align: left;
  letter-spacing: 0.21em;
  color: #000000;
}
@media screen and (max-width: 1078px) {
  .last_news .container h3 {
    margin-left: 10px;
  }
}
.last_news .container .last_news_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.last_news .container .last_news_box .last_news_items {
  max-width: 553px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1078px) {
  .last_news .container .last_news_box .last_news_items {
    margin-top: 20px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1078px) {
  .last_news .container .last_news_box .last_news_items:nth-child(2) .arrow {
    top: 9px;
    right: -8px;
  }
}
.last_news .container .last_news_box .last_news_items:last-of-type {
  margin-top: 20px;
}
.last_news .container .last_news_box .last_news_items p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin-right: 10px;
}
.last_news .container .last_news_box .last_news_items .arrow {
  box-sizing: border-box;
  position: relative;
  top: 27px;
  right: 10px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 3px solid;
  transform: rotate(46deg);
  border-right: 3px solid;
}
@media screen and (max-width: 1078px) {
  .last_news .container .last_news_box .last_news_items .arrow {
    top: 24px;
  }
}
@media screen and (max-width: 550px) {
  .last_news .container .last_news_box .last_news_items .arrow {
    display: none;
  }
}
.last_news .container .last_news_box .last_news_items .arrow:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  transform: rotate(-45deg);
  width: 14px;
  height: 2px;
  background: currentColor;
  top: -8px;
  right: 3px;
}
.last_news .container .last_news_box a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  display: inline-block;
}
.last_news .last_news_link {
  margin-top: 40px;
  max-width: 211px;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 1078px) {
  .last_news .last_news_link {
    margin-left: 10px;
  }
}
.last_news .last_news_link a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
  color: #000000;
}

footer {
  background-color: black;
  padding-bottom: 31px;
}
footer .container .logo {
  max-width: 553px;
  margin: auto;
}
footer .container .logo img {
  width: 100%;
  display: block;
}
footer .container .footer_box {
  margin-top: 57px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 845px) {
  footer .container .footer_box {
    flex-direction: column;
    align-items: center;
  }
}
footer .container .footer_box .box_items .items_form {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 390px) {
  footer .container .footer_box .box_items .items_form {
    display: none;
  }
}
footer .container .footer_box .box_items .items_form ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: white;
}
footer .container .footer_box .box_items .items_form input {
  width: 532px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
  background-color: black;
  margin-bottom: 40px;
  color: white;
}
@media screen and (max-width: 845px) {
  footer .container .footer_box .box_items .items_form input {
    width: 350px;
  }
}
footer .container .footer_box .box_items .items_form button {
  padding: 11px 41px;
  max-width: 380px;
  background: #FCE000;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #000000;
  cursor: pointer;
  margin-bottom: 61px;
}
@media screen and (max-width: 845px) {
  footer .container .footer_box .box_items .items_form button {
    width: 350px;
    padding: 7px 20px;
  }
}
footer .container .footer_box .box_items .items_form button:hover {
  background-color: royalblue;
  color: yellow;
}
footer .container .footer_box .box_items .footer_links {
  margin-bottom: 102px;
}
footer .container .footer_box .box_items .footer_links a {
  margin-right: 25px;
  text-decoration: none;
}
@media screen and (max-width: 391px) {
  footer .container .footer_box .box_items .footer_links a {
    margin-right: 18px;
  }
}
footer .container .footer_box .box_items .footer_links a:last-of-type {
  margin-right: 0;
}
footer .container .footer_box .box_items .footer_links a img:hover {
  transform: scale(1.2);
}
footer .container .footer_box .list li {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
footer .container .footer_box .list li:hover {
  transform: scale(1.1);
}
footer .container .footer_box .list li:first-of-type {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 62px;
}
footer .container .text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.donations {
  padding-top: 99px;
  padding-bottom: 80px;
}
.donations .container {
  max-width: 980px;
}
.donations .container .donations_box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  height: 360px;
}
.donations .container .donations_box .donations_item {
  padding: 19px 13px;
  background: #FFFFFF;
  box-shadow: 0 89px 36px rgba(0, 0, 0, 0.01), 0 50px 30px rgba(0, 0, 0, 0.05), 0 22px 22px rgba(0, 0, 0, 0.09), 0 6px 12px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.donations .container .donations_box .donations_item .donations_image {
  max-width: 254px;
  margin-bottom: 18px;
}
.donations .container .donations_box .donations_item .donations_image img {
  width: 100%;
  display: block;
}
.donations .container .donations_box .donations_item h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 39px;
  color: #000000;
}
.donations .container .donations_box .donations_item a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.donations .container .donations_box .owl-item {
  display: flex;
  justify-content: center;
}
.donations .container .donations_box .owl-nav .owl-prev {
  position: absolute;
  left: -55px;
  top: 140px;
}
@media screen and (max-width: 1100px) {
  .donations .container .donations_box .owl-nav .owl-prev {
    display: none;
  }
}
.donations .container .donations_box .owl-nav .owl-prev:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: black;
  font-size: 30px;
}
.donations .container .donations_box .owl-nav .owl-next {
  position: absolute;
  right: -55px;
  top: 140px;
}
@media screen and (max-width: 1100px) {
  .donations .container .donations_box .owl-nav .owl-next {
    display: none;
  }
}
.donations .container .donations_box .owl-nav .owl-next:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: black;
  font-size: 30px;
  transform: rotate(180deg);
  display: inline-block;
}
.donations .container .donations_link {
  max-width: 450px;
  margin: auto;
}
.donations .container .donations_link a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 12px 47px;
  background: #000000;
  border-radius: 10px;
}
.donations .container .donations_link a:hover {
  color: black;
  background-color: yellow;
}

.help {
  background: #FCE000;
  padding: 59px 0 53px;
}
@media screen and (max-width: 1190px) {
  .help {
    padding: 59px 10px 53px;
  }
}
.help p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.project {
  padding-top: 99px;
  padding-bottom: 80px;
}
.project .container .project_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
@media screen and (max-width: 1120px) {
  .project .container .project_box {
    justify-content: space-around;
  }
}
.project .container .project_box .project_item {
  padding: 19px 13px;
  background: #FFFFFF;
  box-shadow: 0 89px 36px rgba(0, 0, 0, 0.01), 0 50px 30px rgba(0, 0, 0, 0.05), 0 22px 22px rgba(0, 0, 0, 0.09), 0 6px 12px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
@media screen and (max-width: 1120px) {
  .project .container .project_box .project_item:nth-child(4) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 839px) {
  .project .container .project_box .project_item:nth-child(3) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 559px) {
  .project .container .project_box .project_item:nth-child(2) {
    margin-top: 20px;
  }
}
.project .container .project_box .project_item:last-of-type {
  margin-top: 20px;
}
.project .container .project_box .project_item .project_image {
  max-width: 254px;
  margin-bottom: 18px;
}
.project .container .project_box .project_item .project_image img {
  width: 100%;
  display: block;
}
.project .container .project_box .project_item h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 39px;
  color: #000000;
}
.project .container .project_box .project_item a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
